<p-carousel [value]="lstProductos" [numVisible]="4" [numScroll]="1" [circular]="true"
  [responsiveOptions]="responsiveOptions" autoplayInterval="4000">
  <ng-template let-product #item>
    <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-2">
      <div class="mb-4">
        <div class="relative mx-auto">
          <a class="{{product.estadoProducto.color}}"
            [routerLink]="['/pedidos/item-producto-cliente-online',product.id]">
            <img [src]="API_URL_VER_IMAGEN+product.imagen" [alt]="product.nombre" class="w-full rounded-border" width="200px" /></a>
        </div>
      </div>
      <div class="mb-4 font-medium">{{ product.nombre }}</div>
      <div class="flex justify-content-between items-center">
        <div class="mt-0 font-semibold text-xl">
          {{ product.precioNetoStringShow }}
        </div>
        <div>
          <p-button icon="pi pi-shopping-cart" [routerLink]="['/pedidos/item-producto-cliente-online',product.id]" />
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
