<!-- Footer Start -->
<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-md-5">
  <div class="row pt-5">
    <div class="col-lg-3 col-md-6 mb-5">
      <a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
        class="navbar-brand">
<!--         <h1 class="m-0 mt-n3 display-4 text-primary">GRAFIYA</h1>
 -->        <img src="grafiya-logo-amarillo.png" alt="Grafiya productos de merchandising y branding" class="img-fluid">

      </a>
      <p>Puede ecribirnos a whatssap o venir a nuestras oficinas, estaremos encantados de atenderlo</p>
      <h5 class="font-weight-semi-bold text-white mb-2">Horario de atención:</h5>
      <p class="mb-1">De lunes a sabado , 8:00 hrs – 20:00 hrs</p>
      <p class="mb-0">Domingos: Cerrado</p>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h4 class="font-weight-semi-bold text-primary mb-4">Contactanos</h4>
      <p><i class="fa fa-map-marker-alt text-primary mr-2"></i>Calle piarro 214 A - Cercado - Arequipa - Perú</p>
      <p><i class="fa fa-phone-alt text-primary mr-2"></i>+974798814</p>
      <p><i class="fa fa-envelope text-primary mr-2"></i>info#grafiya.com.pe</p>
      <div class="d-flex justify-content-start mt-4">
        <a class="btn btn-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-light btn-social mr-2" href="#"><i class="fa-brands fa-youtube"></i></a>
        <a class="btn btn-light btn-social" href="#"><i class="fab fa-instagram"></i></a>

      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h4 class="font-weight-semi-bold text-primary mb-4">Menú</h4>
      <div class="d-flex flex-column justify-content-start">
        <a class="text-white mb-2" [routerLink]="['/']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
        <a class="text-white mb-2" [routerLink]="['/productos-servicios']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-angle-right mr-2"></i>Productos y servicios</a>
        <a class="text-white mb-2" [routerLink]="['/nosotros']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-angle-right mr-2"></i>Nosotros</a>
        <a class="text-white" [routerLink]="['/contactanos-cliente']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-angle-right mr-2"></i>Contactanos</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-5">
      <h4 class="font-weight-semi-bold text-primary mb-4">Noticias</h4>
      <p>Suscribete para recibir noticias, participar de promociones y ofertas.</p>
      <div class="w-100">
        <div class="input-group">
          <input type="text" class="form-control border-0" style="padding: 25px;" placeholder="Tu correo">
          <div class="input-group-append">
            <button class="btn btn-primary px-4">Suscribirse</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
  style="border-color: #3E3E4E !important;">
  <div class="row">
    <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
      <p class="m-0 text-white">&copy; SOHA S.R.L. Todos los derechos reservados
      </p>
    </div>
    <div class="col-lg-6 text-center text-md-right">
      <ul class="nav d-inline-flex">
        <li class="nav-item">
          <a class="nav-link text-white py-0" href="#">Privacidad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white py-0" href="#">Terminos y condiciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white py-0" href="#">Preguntas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white py-0" href="#">Ayuda</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<a (click)="chatear()" class="whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>
