.whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom:40px;
    right: 40px;
    background-color: #25d366;
    color:white;
    text-align:center;
    font-size:36px;
     border-radius:50px;
     align-items: center;
    z-index:100;
}

.whatsapp:hover{
    color:white;
    transition: 0.3s;
    font-size:37px;
}
