<div class="footer">
    <div class="links">
        <a href="#" target="_blank" class="link-redes tiktok">TikTok<i class="bi bi-tiktok"></i></a>
        <a href="#" target="_blank" class="link-redes facebook">Facebok<i class="bi bi-facebook"></i></a>
        <a href="#" target="_blank" class="link-redes instagram">Instagram<i class="bi bi-instagram"></i></a>
        <a href="#" target="_blank" class="link-redes youtube">Youtube<i class="bi bi-youtube"></i></a>
    </div>
    <div class="links">
        <a href="#" target="_blank" class="link-politicas">Políticas de privacidad |</a>
        <a href="#" target="_blank" class="link-politicas">Políticas de producto</a>
    </div>
    <p class="text text-center">
        2025 SOHA Technology - Todos los derechos reservados
<!--         <p className="copyright">2025 SOHA Technology - Todos los derechos reservados</p>
 -->
    </p>
</div>