<form [formGroup]="formCaja">
<!--   <mat-form-field class="example-full-width">
    <mat-label>UsuarioId:</mat-label>
    <input matInput
      type="text"
      name="usuarioId"
      readonly="true"
      formControlName="usuarioId">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Usuario:</mat-label>
    <input matInput
      type="text"
      name="usuario"
      readonly="true"
      formControlName="usuario">
  </mat-form-field> -->
  <mat-form-field class="example-full-width">
    <mat-label>Fecha Apertura(Última):</mat-label>
    <input matInput
      type="text"
      formControlName="fchApertura"
      readonly="true"
      name="fchApertura">
      <div *ngIf="formCaja.get('fchApertura')?.invalid &&
                  (formCaja.get('fchApertura')?.dirty ||
                  formCaja.get('fchApertura')?.touched)">
        <mat-error *ngIf="formCaja.get('fchApertura')?.errors?.['required']">
          Fecha cierre requerido
        </mat-error>
      </div>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Fecha cierre(Última):</mat-label>
    <input matInput
      type="text"
      readonly="true"
      formControlName="fchCierre"
      name="fchCierre">
      <div *ngIf="formCaja.get('fchCierre')?.invalid &&
                  (formCaja.get('fchCierre')?.dirty ||
                  formCaja.get('fctCierre')?.touched)">
        <mat-error *ngIf="formCaja.get('fchCierre')?.errors?.['required']">
          Fecha cierre requerido
        </mat-error>
      </div>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Caja asignada(Última)</mat-label>
    <input matInput
      formControlName="cajaAsignada"
      readonly="true"
      name="cajaAsignada">
      <div *ngIf="formCaja.get('cajaAsignada')?.invalid &&
                  (formCaja.get('cajaAsignada')?.dirty ||
                  formCaja.get('cajaAsignada')?.touched)">
        <mat-error *ngIf="formCaja.get('cajaAsignada')?.errors?.['required']">
          Nombre es requerido
        </mat-error>
      </div>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Saldo caja:</mat-label>
    <input matInput
      formControlName="saldoCaja"
      type="number"
      readonly="true"
      name="saldoCaja">
      <div *ngIf="formCaja.get('saldoCaja')?.invalid &&
                  (formCaja.get('saldoCaja')?.dirty ||
                  formCaja.get('saldoCaja')?.touched)">
        <mat-error *ngIf="formCaja.get('saldoCaja')?.errors?.['required']">
          Saldo caja es requerido
        </mat-error>
      </div>
  </mat-form-field>
  <mat-form-field *ngIf="!cajaActiva" class="example-full-width">
    <mat-label>Caja por asignar</mat-label>
    <mat-select
      name="cajaPorAsignar"
      formControlName="cajaPorAsignar" (selectionChange)="asignarCajaUsuario($event.value)">
      <mat-option *ngFor="let caja of cajas" [value]="caja">
        {{caja.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field  *ngIf="!cajaActiva" class="example-full-width">
    <mat-label>Caja ubicación</mat-label>
    <input matInput
      formControlName="ubicacionCaja"
      readonly="true"
      name="ubicacionCaja">
      <div *ngIf="formCaja.get('ubicacionCaja')?.invalid &&
                  (formCaja.get('ubicacionCaja')?.dirty ||
                  formCaja.get('ubicacionCaja')?.touched)">
        <mat-error *ngIf="formCaja.get('ubicacionCaja')?.errors?.['required']">
          Nombre es requerido
        </mat-error>
      </div>
  </mat-form-field>

  <mat-form-field *ngIf="cajaActiva" appearance="fill">
    <mat-label>En caja hay(conteo):</mat-label>
    <input matInput
      formControlName="saldoPorConteo"
      type="number"
      name="saldoPorConteo">
      <div *ngIf="formCaja.get('saldoPorConteo')?.invalid &&
                  (formCaja.get('saldoPorConteo')?.dirty ||
                  formCaja.get('saldoPorConteo')?.touched)">
        <mat-error *ngIf="formCaja.get('saldoPorConteo')?.errors?.['required']">
          Saldo caja es requerido
        </mat-error>
      </div>
  </mat-form-field>


  <div class="example-button-row">
    <button *ngIf="!cajaActiva" (click)="abrirCaja()" mat-raised-button color="primary">Abrir CAJA</button>
    <button *ngIf="cajaActiva" (click)="cerrarCaja()" mat-raised-button color="primary">Cerrar CAJA</button>

  </div>
</form>
