.black {
  font-size: 30px;
  font-weight: bolder;
  color: black;
}

.blue {
  font-size: 30px;
  font-weight: bolder;
  color:blue;
}

.red{
  font-size: 30px;
  font-weight: bolder;
  color: red;

}

