<!-- Header Start -->
<div class="d-flex flex-column align-items-top flex-lg-row justify-content-lg-between">
  <div class="bg-secondary px-8">
    <a [routerLink]="['/']" class="w-100 h-100 d-flex align-items-center justify-content-center">
        <img src="grafiya-logo-azul.png" alt="Grafiya productos de merchandising y branding" class="img-fluid">
<!--       <h1 class="display-3 text-primary">Grafiya</h1>
 -->    </a>
  </div>
  <div class="w-100">
    <div class="bg-dark d-none d-lg-flex justify-content-lg-between">
      <div class="text-left text-white">
        <div class="h-100 d-inline-flex align-items-center border-right border-primary py-2 px-3">
          <i class="fa fa-envelope text-primary mr-2"></i>
          <small>infografiya.com.pe</small>
        </div>
        <div class="h-100 d-inline-flex align-items-center py-2 px-2">
          <i class="fa fa-phone-alt text-primary mr-2"></i>
          <small>+9747988129</small>
        </div>
      </div>
      <div class="text-right">
        <div class="d-inline-flex align-items-center pr-2">
          <a class="text-primary p-2" href="">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="text-primary p-2" href="">
            <i class="fab fa-youtube"></i>
          </a>
          <a class="text-primary p-2" href="">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <menu-cabecera (clickMenuEvent)="sideNavToggle()" />
  </div>
</div>


