<div class="container">

    <div *ngIf="!isAuthenticated()" class="row">
        <div class="col-12 alert alert-success">
            Para adjuntar imagen de su marca y adicionar al carrito debe
            <a [routerLink]="['/login']">INICIAR SESIÓN.</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row mb-2">
                        <div class="col">
                            <img [src]="verImagenProducto" alt="{{producto.imagen}}"
                                class="img-fluid img-thumbnail rounded mx-auto d-block">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    @if (producto) {
                    <h2>{{producto.codigo}} {{producto.nombre}}</h2>
                    <p>{{producto.precioNeto | currency:'PEN'}}</p>
                    <p>Cantidad en stock:{{producto.cantidadStock}}</p>

                    <ul>
                        <li><b>Medidas: </b>{{producto.medidas}}</li>
                        <li><b>Peso: </b>{{producto.peso}}</li>
                        <li><b>Color: </b>{{producto.color?.nombre}}</li>
                        <li><b>Material: </b>{{producto.material?.nombre}}</li>
                        <li><b>Mínima cantidad en pedido: </b>{{producto.minCantidadPedido}} unidades. </li>
                        <li><b>Máxima cantidad en pedido: </b>{{producto.maxCantidadPedido}} unidades. </li>
                        <li><b>En grupos de: </b>{{producto.gruposDe}} unidades.</li>
                        <li><b>Fecha de precio de rebaja desde:</b>
                            <br>{{producto.fechaPrecioRebajadoDesde}} hasta {{producto.fechaPrecioRebajadoHasta}}
                        </li>
                    </ul>
                    }


                    <h2>REALIZAR PEDIDO</h2>
                    <form [formGroup]="frm" (ngSubmit)="sendOneItemProducto()">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <label for="descripcion" class="col-form-label col-12"><b>Descripción:</b> </label>
                                <div class="input-group col-12">
                                    <textarea formControlName="descripcion" name="descripcion" class="form-control"
                                        [ngStyle]="{'resize': 'none'}" aria-label="With textarea"
                                        placeholder="Descripción" maxlength="250" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="formFile" class="form-label col-12"><b>Colocar imágen en pedido:</b></label>
                                <div class="input-group col-12">
                                    <input (change)="seleccionarImagenToItem($event)" type="file" name="imagen"
                                        class="form-control" id="inputGroupFile04"
                                        aria-describedby="inputGroupFileAddon04">
                                    <button *ngIf="this.mediosUtilsService.imagenSeleccionada" (click)="subirImagen()"
                                        class="btn btn-outline-primary" type="button"
                                        id="inputGroupFileAddon04">Subir</button>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <img class="col-3" [src]="verImagenItem">
                                <div class="col-9">
                                    <div class="row">
                                        <label for="cantidad" class="col-form-label col-12"><b>Cantidad:</b></label>
                                        <div class="form-group col-12 col-sm-6">
                                            <input type="number" formControlName="cantidad" class="form-control"
                                                name="cantidad" [step]="gruposDe.toString()"
                                                [min]="minCantidadPedido.toString()"
                                                [max]="maxCantidadPedido.toString()" />
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <button type="submit" class="btn btn-primary">Añadir al carrito</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!------------CARRO DE COMPRAS------------>
        @if (items.length > 0) {
        <div class="col-12 col-md-3">
            <carrito-compras></carrito-compras>
        </div>
        }
    </div>
</div>


<!-- -->