<!-- <ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul> -->

<form>


  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row mb-2">
          <div class="col">
            <img *ngIf="producto?.imagen" src="http://localhost:8080/api/producto/imagen/{{producto.imagen}}"
              alt="{{producto.imagen}}" class="img-fluid img-thumbnail rounded mx-auto d-block">

          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2>{{producto.codigo}} {{producto.nombre}}</h2>
        <p>{{producto.precioNeto | currency:'PEN'}}</p>
        <p>Cantidad en stock:{{producto.cantidadStock}}</p>

        <ul>
          <li><b>Medidas: </b>{{producto.medidas}}</li>
          <li><b>Peso: </b>{{producto.peso}}</li>
          <li><b>Color: </b>{{producto.color?.nombre}}</li>
          <li><b>Material: </b>{{producto.material?.nombre}}</li>
          <li><b>Mínima cantidad en pedido: </b>{{producto.minCantidadPedido}} unidades. <br><b>En grupos
              de:</b>{{producto.gruposDe}} unidades</li>
          <li><b>Fecha de precio de rebaja desde:</b>
          <br>{{producto.fechaPrecioRebajadoDesde}} hasta {{producto.fechaPrecioRebajadoHasta}}</li>
        </ul>

                <h2>REALIZAR PEDIDO</h2>



        <!--         <div class="row mb-2">
          <div class="col">
            <input formControlName="nombre" type="text" class="form-control" name="nombre" placeholder="Nombre">
          </div>
        </div>
        <div class="row mb-2">
          <label for="codigo" class="col-form-label col-sm-4">Código:</label>
          <div class="input-group col-sm">
            <input formControlName="codigo" type="text" class="form-control" name="codigo" placeholder="codigo">
          </div>
        </div>
        <div class="row mb-2">
          <label for="descripcion" class="col-form-label col-sm-4"><b>Descripción:</b> <br>(visible en
            tienda):</label>
          <div class="input-group col-sm">
            <textarea formControlName="descripcion" name="descripcion" class="form-control"
              [ngStyle]="{'resize': 'none'}" aria-label="With textarea" placeholder="Descripción" maxlength="250"
              rows="5"></textarea>

          </div>
        </div> -->

      </div>
    </div>
    <!------------------->
    <div class="row">
      <div class="col-sm">

        <!--         <div class="row mb-2">
          <label for="categoriaId" class="form-label col-sm-4"><b>Categoria del producto:</b> <br>Visible en menú de
            la tienda</label>
          <div class="input-group col-sm">
            <select formControlName="categoriaId" name="categoriaId" class="form-control">
              <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <label for="materialId" class="form-label col-sm-4">Material del producto:</label>
          <div class="input-group col-sm">
            <select formControlName="materialId" name="materialId" class="form-control">
              <option *ngFor="let material of materiales" [value]="material.id">{{material.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <label for="colorId" class="form-label col-sm-4">Color del producto:</label>
          <div class="input-group col-sm">
            <select formControlName="colorId" name="colorId" class="form-control">
              <option *ngFor="let color of colores" [value]="color.id">{{color.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <label for="usoId" class="form-label col-sm-4">Uso del producto:</label>
          <div class="input-group col-sm">
            <select formControlName="usoId" name="usoId" class="form-control">
              <option *ngFor="let uso of usos" [value]="uso.id">{{uso.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <label for="formFile" class="form-label col-sm-4"><b>Imágen del producto:</b><br>Visible en tienda</label>
          <div class="input-group col-sm">
            <div class="input-group col-sm">
              <input (change)="seleccionarImagen($event)" type="file" name="imagen" formControlName="imagen"
                class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Cargar">
              <button (click)="subirImagen()" class="btn btn-outline-primary" type="button"
                [disabled]="!(imagenSeleccionada && producto.nombre && producto.codigo)"
                id="inputGroupFileAddon04">Cargar</button>

            </div>
          </div>
        </div> -->
        <!--         <div class="row mb-2">
          <label for="activo" class="form-label col-sm-4"><b>Producto activo</b></label>
          <div class="form-check form-switch col-sm-2">
            <input class="form-check-input" type="checkbox" formControlName="activo" name="activo"
              [checked]="producto.activo">
          </div>
          <label for="visibleEnTienda" class="form-label col-sm-4"><b>Producto visible en tienda</b></label>
          <div class="form-check form-switch col-sm-2">
            <input class="form-check-input" type="checkbox" formControlName="visibleEnTienda" name="visibleEnTienda"
              [checked]="producto.visibleEnTienda">
          </div>
        </div> -->


        <!--             <div class="row mb-2">
              <div class="ol-sm-6">
                <span>Valid:</span>
                <pre>{{formProducto.valid | json}}</pre>
                <span>pristine:</span>
                <pre>{{formProducto.pristine| json}}</pre>
                <span>touched:</span>
                <pre>{{formProducto.touched| json}}</pre>
                <span>value:</span>
                <pre>{{formProducto.value| json}}</pre>
                <span>errores</span>
                <pre>{{formProducto.errors| json}}</pre>

              </div>
            </div> -->
      </div>




    </div>
  </div>
</form>