<!-- Page Header Start -->
<div class="container-fluid bg-primary py-5">
  <div class="container py-5">
    <div class="row align-items-center py-4">
      <div class="col-md-6 text-center text-md-left">
        <h1 class="display-4 mb-4 mb-md-0 text-secondary text-uppercase">Productos y servicios</h1>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <div class="d-inline-flex align-items-center">
          <a class="btn btn-sm btn-outline-light disabled" href="">Productos y servicios</a>
          <i class="fas fa-angle-double-right text-light mx-2"></i>
          <a [routerLink]="['/tienda']" class="btn btn-sm btn-outline-light" href="">Ir a tienda</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->
<div class="container-fluid bg-portfolio py-5">
  <categorias-producto-cliente />
</div>
<div class="container-fluid py-5">
  <producto-cliente />
</div>
<div class="container-fluid bg-portfolio py-5">
  <servicios-cliente></servicios-cliente>>
</div>

