<div class="container">
  <form (ngSubmit)="onSubmitForm()" autocomplete="off" style="margin-bottom: 1px;">
    <mat-card class="example-card">
      <mat-card-header class="d-flex justify-content-start">
        <mat-card-title>Asignar roles a {{usuarioSeleccionado.nomApellRz}}
          ({{usuarioSeleccionado.username}})</mat-card-title>
        <div class="ms-auto">
          <button *ngIf="authService.hasRole('ROLE_ASIGNAR_ROL_USUARIO')" type="submit" color="primary"
            mat-raised-button>Asignar rol</button>
          <!--      <ng-template #elseBlock>
          <button color="primary" mat-raised-button (click)='update()' [disabled]="!clienteForm.form.valid">Canclear</button>
        </ng-template> -->

          <button color="primary" mat-raised-button [routerLink]="'/usuarios'">Cancelar</button>
        </div>
      </mat-card-header>
      <mat-card-content>


        <ng-container *ngFor="let module of modulos;">
          <checkbox-usuario-rol [modulo]="module" [usuarioSeleccionado]="usuarioSeleccionado"
            (acumulaChecks)="allChecks($event)">
          </checkbox-usuario-rol>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </form>
</div>
