<div class="container py-5">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Personalización, entrega, diseño profesional</h6>
      <h1 class="mb-4 section-title text-white">Servicios de valor</h1>
      <p class="text-white">Invidunt lorem justo clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
        ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum</p>
    </div>
    <div class="col-lg-6 pt-5 pt-lg-0">
      <carrusel-servicios class="text-white"></carrusel-servicios>
    </div>
  </div>
</div>
