/* You can add global styles to this file, and also import other style files */



@import './app/styles/app.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.celda-estado {
  padding: 0 0.5rem;
  border-radius: 0.8rem;
  color: #fff;
  text-align: center;
  display: block;
  max-width: 120px;

}

.caja-cerrada {
  background-color: rgb(233, 66, 109);
}

.caja-abierta {
  background-color: rgb(91, 197, 0);
}

/* ESTADOS DE PEDIDO */
.pendiente {
  background-color: #1086b1;
}

.devuelto {
  background-color: #EC624B;
}

.vencido {
  background-color: rgb(233, 66, 109);
}

.entregado {
  background-color: rgb(91, 197, 0);
}

.cancelado {
  background-color: rgb(120, 120, 120);
}

.adquirido {
  background-color: rgb(91, 197, 0);
}

/* ESTADO DE PRODUCTO*/
.nuevo {
  position: relative;

  img {
    border-radius: 0 10px 0px 0px;
  }

  &::before {
    content: 'NUEVO';
    display: block;
    width: 30%;
    background-color: rgb(91, 197, 0);
    height: auto;
    position: absolute;
    font-weight: bolder;
    font-style: italic;
    color: white;
    text-align: center;
    padding: 3px 5px;
  }
}

.por-agotarse {
  position: relative;

  img {
    border-radius: 0 10px 0px 0px;
  }

  &::before {
    content: 'POR AGOTARSE';
    display: block;
    width: 40%;
    background-color: #EC624B;
    height: auto;
    position: absolute;
    font-weight: bolder;
    font-style: italic;
    color: white;
    text-align: center;
    padding: 3px 5px;
  }
}

.agotado {
  position: relative;

  img {
    border-radius: 0 10px 0px 0px;
  }

  &::before {
    content: 'AGOTADO';
    display: block;
    width: 30%;
    background-color: red;
    height: auto;
    position: absolute;
    font-weight: bolder;
    font-style: italic;
    color: white;
    text-align: center;
    padding: 3px 5px;
  }
}

.proximo {
  position: relative;

  img {
    border-radius: 0 10px 0px 0px;
  }

  &::before {
    content: 'PRÓXIMO';
    display: block;
    width: 30%;
    background-color: #1086b1;
    height: auto;
    position: absolute;
    font-weight: bolder;
    font-style: italic;
    color: white;
    text-align: center;
    padding: 3px 5px;
  }
}

.en-stock {
/*   position: relative;
 */
  img {
    border-radius: 0 10px 0px 0px;
  }

/*   &::before {
    content: 'PRÓXIMO';
    display: block;
    width: 30%;
    background-color: #1086b1;
    height: auto;
    position: absolute;
    font-weight: bolder;
    font-style: italic;
    color: white;
    text-align: center;
    padding: 3px 5px;
  } */
}