<div class="row">
  <div class="col-12 col-md-6">
    <div class="row">
      <div class="col {{producto.estadoProducto.color}}">
        <img [src]="verImagenProducto" [alt]="producto.imagen" class="img-fluid mx-auto d-block">
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    @if (producto) {
    <h5>{{producto.codigo}} {{producto.nombre}}</h5>

    <div class="row">
      @for (margen of producto.margenesProducto; track $index) {
      <div class="col-6 col-sm-4">
        <p> {{margen.minCantidad}} - {{margen.maxCantidad}} unidades</p>
        <span class="precio">{{margen.precioNeto | currency:'PEN'}}</span>
      </div>
      }
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group" style="list-style-type: none;">
          <li style="margin-bottom: 6px;"><i class="fa fa-angle-right mr-2"></i><b>Cantidad en stock:
            </b>{{producto.cantidadStock}} unidades.</li>
          <li style="margin-bottom: 6px;"><i class="fa fa-angle-right mr-2"></i><b>Mín cantidad en pedido:
            </b>{{producto.minCantidadPedido}} unidades. </li>
          <li style="margin-bottom: 6px;"><i class="fa fa-angle-right mr-2"></i><b>Máx cantidad en pedido:
            </b>{{producto.maxCantidadPedido}} unidades. </li>
          <li style="margin-bottom: 6px;"><i class="fa fa-angle-right mr-2"></i><b>En grupos de:
            </b>{{producto.gruposDe}} unidades.</li>
          <li style="margin-bottom: 6px;"><i class="fa fa-angle-right mr-2"></i><b>Color: </b>{{producto.color?.nombre}}
          </li>
          <li style="margin-bottom: 6px;"><i class="fa fa-angle-right mr-2"></i><b>Medidas: </b>{{producto.medidas}}
          </li>
          <li style="margin-bottom: 6px;"><i class="fa fa-angle-right mr-2"></i><b>Peso: </b>{{producto.peso}}</li>

          <li style="margin-bottom: 6px;"><i class="fa fa-angle-right mr-2"></i><b>Material:
            </b>{{producto.material?.nombre}}</li>

        </ul>
      </div>
    </div>
    }


    <!--         <h2>REALIZAR PEDIDO</h2>
 -->
    <form [formGroup]="frm" (ngSubmit)="sendOneItemProducto()">
      <div class="container-fluid">
        <div class="row mb-2">
          <label for="addDisenio" class="col-8"><b>¿GRABAR IMAGEN EN EL ARTÍCULO?:</b> </label>
          <div class="col-4">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" formControlName="disenio" name="disenio" id="addDisenio"
                (click)="addOneItemServicioDisenio($event); addOneItemServicioSublimacion($event);">
              <label class="form-check-label" for="addDisenio">Sí</label>
            </div>
          </div>
        </div>
        @if (this.isDisenio) {
        <div class="row mb-2">
          <div class="input-group col-12">
            <input #file (change)="this.isImage(file)" type="file" name="imagen" class="form-control"
              style="padding: 25px;" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
            <button (click)="subirImagen(file)" class="btn btn-primary" type="button" [disabled]="!this.isImage(file)"
              id="inputGroupFileAddon04">Subir</button>
          </div>

          <!--           <div class="input-group">
            <input type="text" class="form-control border-0" style="padding: 25px;" placeholder="Your Email">
            <div class="input-group-append">
              <button class="btn btn-primary px-4">Sign Up</button>
            </div>
          </div> -->
        </div>
        }
        <div class="row mb-2">
          <!--                     <label for="descripcion" class="col-form-label col-12"><b>Descripción:</b> </label>
 -->
          <div class="input-group col-12">
            <textarea formControlName="descripcion" name="descripcion" class="form-control"
              [ngStyle]="{'resize': 'none'}" placeholder="¿Algo que debamos conciderar en su pedido?" maxlength="250"
              rows="5"></textarea>
          </div>
        </div>
        <div class="row">
          <img class="col-4" [src]="verImagenItem">
          <div class="col-8">
            <div class="d-flex flex-column">
              <label for="cantidad" class="form-label"><b>Cantidad:</b></label>
              <div class="mb-2">
                <input type="number" formControlName="cantidad" class="form-control" name="cantidad"
                  [step]="gruposDe.toString()" [min]="minCantidadPedido.toString()"
                  [max]="maxCantidadPedido.toString()" />
              </div>
              <div class="d-flex flex-wrap flex-column flex-sm-row justify-content-sm-evenly">
                <button type="button" class="btn btn-secondary mb-2" (click)="chatear(producto)"><i
                    class="fa-brands fa-whatsapp mr-1"></i>Chatear</button>
                <button type="submit" class="btn btn-primary mb-2">Añadir
                  carrito</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
