<div class="container">
    <div class="card">
        <div class="card-header">
            Registrate para poder realizar pedidos y obtener promociones
        </div>

        <div class="card-body">
            <form [formGroup]="formNewCuenta" (ngSubmit)="crearCuenta()">
                <div class="row mb-2">
                    <label for="documentoId" class="form-label col-12 col-md-4">Tipo documento:</label>
                    <div class="input-group col-12 col-md">
                        <select formControlName="documentoId" name="documentoId" class="form-control">
                            <option *ngFor="let documento of tipoDocumentos" [value]="documento.id">
                                {{documento.nombre}}</option>
                        </select>
                        @if(formUtils.isValidField(formNewCuenta,'documentoId')){
                        <span class="form-text text-danger">{{formUtils.getFieldError(formNewCuenta,"documentoId")}}</span>
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="numeroDocumento" class="form-label col-12 col-md-4"><b>Número
                            Documento:</b></label>
                    <div class="input-group col-12 col-md">
                        <input formControlName="numeroDocumento" type="text" class="form-control" name="numeroDocumento"
                            placeholder="Número Documento">
                        @if(formUtils.isValidField(formNewCuenta,'numeroDocumento')){
                        <span class="form-text text-danger">{{formUtils.getFieldError(formNewCuenta,"numeroDocumento")}}</span>
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="nomApellRz" class="form-label col-12 col-md-4"><b>Razón social:</b>, (P.
                        Jurídica)<br><b>Nombres y apellidos:</b>, (P. Natural)</label>
                    <div class="input-group col-12 col-md">
                        <input formControlName="nomApellRz" type="text" class="form-control" name="nomApellRz"
                            placeholder="codigo">
                        @if(formUtils.isValidField(formNewCuenta,'nomApellRz')){
                        <span class="form-text text-danger">{{formUtils.getFieldError(formNewCuenta,'nomApellRz')}}</span>
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="direccion" class="form-label col-12 col-md-4"><b>Dirección:</b></label>
                    <div class="input-group col-12 col-md">
                        <input formControlName="direccion" type="text" class="form-control" name="direccion">
                        @if(formUtils.isValidField(formNewCuenta,'direccion')){
                        <span class="form-text text-danger">{{formUtils.getFieldError(formNewCuenta,'direccion')}}</span>
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="celular" class="form-label col-12 col-md-4"><b>Celular:</b><br>Inicio de
                        sesión</label>
                    <div class="input-group col-12 col-md">
                        <input formControlName="celular" type="text" class="form-control" name="celular"
                            placeholder="Celular">
                        @if(formUtils.isValidField(formNewCuenta,'celular')){
                        <span class="form-text text-danger">{{formUtils.getFieldError(formNewCuenta,'celular')}}</span>
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="clave" class="form-label col-12 col-md-4"><b>Clave:</b></label>
                    <div class="input-group col-12 col-md">
                        <input formControlName="clave" type="password" class="form-control" name="clave"
                            placeholder="Clave">
                        @if(formUtils.isValidField(formNewCuenta,'clave')){
                        <span class="form-text text-danger">{{formUtils.getFieldError(formNewCuenta,'clave')}}</span>
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="confirmaClave" class="form-label col-12 col-md-4"><b>Confirmar
                            clave:</b></label>
                    <div class="input-group col-12 col-md">
                        <input formControlName="confirmaClave" type="password" class="form-control" name="confirmaClave"
                            placeholder="Confirmar clave">
                        @if(formUtils.isValidField(formNewCuenta,'confirmaClave')){
                        <span class="form-text text-danger">{{formUtils.getFieldError(formNewCuenta,'confirmaClave')}}</span>
                        }
                    </div>
                </div>
<!--                     Al menos 8 caracteres de longitud.
                    Contiene al menos una letra minúscula.
                    Contiene al menos una letra mayúscula.
                    Contiene al menos un dígito.
                    Contiene al menos un carácter especial de un conjunto predefinido -->
                <div class="row mb-2">
                    <div class="col-form-label col-12 col-md-4"></div>
                    <div class="col-12 col-md d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary me-2"
                            [routerLink]="['/tienda/producto-categoria',0]">Cancelar registro</button>
                        <button type="submit" class="btn btn-primary">Aceptación y registro</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <span>Valid:</span>
                        <pre>{{formNewCuenta.valid | json}}</pre>
                        <span>pristine:</span>
                        <pre>{{formNewCuenta.pristine| json}}</pre>
                        <span>touched:</span>
                        <pre>{{formNewCuenta.touched| json}}</pre>
                        <span>value:</span>
                        <pre>{{formNewCuenta.value| json}}</pre>
                        <span>errores</span>
                        <pre>{{formNewCuenta.errors| json}}</pre>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>