@import 'variables';

.main-sidenav {
  background-color: $ezra-dark !important;
  color:white !important;
  .mat-toolbar{
    background-color:inherit;
    color: $ezra-pink;
  }
  .mat-mdc-subheader {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 12px 6px;
    .mat-icon{
      margin: 0px 2px;
    }
  }

  * .mat-icon, .mat-subheader {
    color: $ezra-pink !important;
  }

  .mat-divider {
    border-top-color: $ezra-gray8;
  }

  .mdc-list-item {
    padding:0px 13px;
  }
  .mdc-list-item__primary-text {
    color: $ezra-gray1;
  }

  .mdc-list-item:hover, .mdc-list-item.active {
    background-color: $ezra-pink;
  }
}

.spacer {
  flex: 1 1 auto;
}
