$ezra-blue: #00A9E0;
$ezra-blue-rgb: rgba(0,169,224);
$ezra-dark: #0a1026;

$ezra-green: #5BC500;
$ezra-purple: #954B97;
$ezra-pink: #E9426D;
$ezra-orange: #EC6839;
$ezra-yellow: #F59C00;
$ezra-warning: #FFC107;

$ezra-gray1: #E9EAE8;
$ezra-gray3: #D3D4D3;
$ezra-gray5: #B6B7B7;
$ezra-gray8: #86888C;
$ezra-gray10: #50535A;


// DARK
$dark-background: #212121;
$dark-appbar: #242526;

$height-toolbar-default: 64px;
$height-toolbar-mobile: 56px;

$sidenav-width: 300px;
$text-secondary: hsl(0deg 0% 0% / 54%);

body.theme-brand {
  --movistar-primary-rgb: #{$ezra-blue-rgb};
}
