
  <div class="d-flex justify-content-between">
    <h1 mat-dialog-title>Puedes cancelar tu deuda o adelantar un pago</h1>
    <button type="button" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="d-flex justify-content-center">
    <form #pagoPedidoForm="ngForm" (ngSubmit)="onSubmitForm()">
    <ng-container>
          <!--<mat-form-field : No esta funcionando para checkbox-->
          <mat-checkbox name="aceptado" #aceptado="ngModel" [(ngModel)]="pedido.aceptado">
            El cliente ACEPTA y recibio su pedido (No tiene ningun error)
          </mat-checkbox>
    </ng-container>
    <div>
      <ng-container>
        <mat-form-field>
          <mat-label>PENDIENTE PAGO</mat-label>
          <input matInput type="text" name="saldo" #saldo="ngModel" [(ngModel)]="pedido.saldo" disabled>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="pedido.cliente">
          <mat-form-field>
            <mat-label>PAGAR</mat-label>
            <!--<input matInput  type="number" name="pago" #pago="ngModel" [(ngModel)]="pago" required pattern="(0\.((0[1-9]{1})|([1-9]{1}([0-9]{1})?)))|(([1-9]+[0-9]*)(\.([0-9]{1,2}))?)"> -->
            <input matInput type="number" name="apagar" #apagar="ngModel" [(ngModel)]="pedido.apagar" required>
            <div *ngIf="apagar.invalid && (apagar.dirty || apagar.touched)">
              <mat-error *ngIf="apagar?.errors?.['required']">
                Pago es requerido
              </mat-error>
              <mat-error *ngIf="apagar?.errors?.['required']">
                Pago es requerido
              </mat-error>
            </div>
          </mat-form-field>
        </ng-container>
    </div>
    <button mat-button mat-dialog-close>NO</button>
    <button type="submit" mat-button color="primary" mat-dialog-close cdkFocusInitial>SI</button>
  </form>
  </div>
<!--   <div mat-dialog-actions class="d-flex justify-content-center">
    <button mat-button mat-dialog-close>NO</button>
    <button type="submit" mat-button color="primary" mat-dialog-close cdkFocusInitial>SI</button>
  </div> -->

