<mat-card class="example-card">
  <form #pedidoForm="ngForm">
    <mat-card-header class="d-flex justify-content-start">
      <mat-card-title>Crear pedido de {{tipoPedidoVentaClientes.nombre | uppercase}}</mat-card-title>
      <div class="ms-auto">
        <button type="submit" color="primary" mat-raised-button (click)="create(pedidoForm)">
          Crear pedido
        </button>
        <button  color="primary" mat-raised-button [routerLink]="['/pedidos']">
          Cancelar
        </button>
      </div>
    </mat-card-header>
    <mat-card-content class="d-flex flex-column">
       <ng-container>
        <mat-form-field >
          <mat-label>Cliente</mat-label>
          <input matInput  type="text" value="{{cliente.nomApellRz}}" disabled>
        </mat-form-field>
<!--         <mat-form-field *ngIf="this.razonSocialActivate" >
          <mat-label>Razón social</mat-label>
          <input matInput  type="text" value="{{cliente.razonSocial}}" disabled>
        </mat-form-field> -->
        <section >
          <label>Tipo pedido:</label>
          <mat-radio-group name="tipoPedido" [(ngModel)]="tipoPedidoVentaClientes">
            <mat-radio-button *ngFor="let tipoPedido of tipoPedidos" [value]="tipoPedido">
              {{tipoPedido.nombre}}
            </mat-radio-button>
          </mat-radio-group>
        </section>
      </ng-container>

      <mat-form-field>
        <input matInput placeholder="Añadir producto" [formControl]="autocompleteControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="seleccionarProducto($event)">
              <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                <span class="text-bold-italic">Producto:</span>{{producto.nombre}}
                <span class="text-bold-italic">Color:</span>{{producto.color?.nombre }}
                <span class="text-bold-italic">Material:</span>{{  producto.material?.nombre}}
                <span class="text-bold-italic">Peso:</span>{{  producto.peso}}
                <span class="text-bold-italic">Medidas:</span>{{  producto.medidas}}
                <span class="text-bold-italic">Cantidad:</span>{{  producto.cantidadStock}}
                <span class="text-bold-italic">Precio:</span>{{  producto.precioNeto | currency:'PEN'}}
              </mat-option>
            </mat-autocomplete>
      </mat-form-field>
      <div class="alert alert-danger" *ngIf="autocompleteControl.invalid && pedidoForm.submitted">
            El pedido no puede no tener líneas!.
      </div>
      <div class="alert alert-info my-4" *ngIf="pedido.items.length == 0">
        No hay líneas asignadas para la pedido. Debe agregar al menos una!
      </div>

       <table class="table table-striped table-hover table-sm" *ngIf="pedido.items.length > 0" cellspacing="1" cellpadding="1">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Color</th>
            <th>Material</th>
            <th>Peso(KG)</th>
            <th>Medidas</th>
            <th *ngIf="tipoPedidoVentaClientes.activo">Precio Sugerido</th>
            <th>Cantidad</th>
            <th>S/.Importe con IGV</th>
            <th>Detalle</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pedido.items">
            <td>{{item.producto.nombre}}</td>
            <td>{{item.producto.color?.nombre}}</td>
            <td>{{item.producto.material?.nombre}}</td>
            <td>{{item.producto.peso}}</td>
            <td>{{item.producto.medidas}}</td>
            <td *ngIf="tipoPedidoVentaClientes.activo">{{item.producto.precioNeto| currency:'PEN'}}</td>
            <td>
               <input matInput style="width:80px" type="number" value="{{item.cantidad}}" (change)="actualizarCantidad(item.producto.id, $event);calcularGranTotal(item.producto.id, $event) ">
            </td>
            <td>
               <input mapinput style="width:90px" type="number" value="{{item.importe}}" (change)="calcularGranTotal(item.producto.id, $event)">
            </td>
            <td><button mat-icon-button color="primary" (click)="openDialog(item)" matTooltip="Detalle"><mat-icon>note_add</mat-icon></button>

    <!--           <mat-form-field [ngStyle]="{'width': '100%'}">
                <input matInput #message [(ngModel)]="item.descripcion" name="descripcion" #descripcion=ngModel maxlength="256" placeholder="Detalle el producto...">
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field> -->

            </td>
            <td><button mat-icon-button color="warn" (click)="eliminarItemPedido(item.producto.id)" matTooltip="Elimnar"><mat-icon>delete</mat-icon></button></td>
          </tr>
        </tbody>
      </table>

      <table *ngIf="pedido.items.length > 0"  cellspacing="0"><tr>
               <td><mat-form-field style="width:100%">
                <mat-label>GRANT TOTAL</mat-label>
                <input *ngIf="tipoPedidoVentaClientes.activo" matInput value = "{{pedido.precioNetoTotal| currency:'PEN' }}" disabled>
                <input *ngIf="!tipoPedidoVentaClientes.activo" matInput value = "{{pedido.costoNetoTotal| currency:'PEN' }}" disabled>

              </mat-form-field></td>
        <td>
          <mat-form-field *ngIf="tipoPedidoVentaClientes.activo" style="width:100%">
            <mat-label>FECHA ENTREGA</mat-label>
            <input matInput [matDatepicker]="miDatepicker" [(ngModel)]="pedido.entregadoEn" name="entregadoEn">
            <mat-datepicker-toggle matIconSuffix [for]="miDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #miDatepicker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field *ngIf="!tipoPedidoVentaClientes.activo" style="width:100%">
            <mat-label>FECHA ADQUISICION</mat-label>
            <input matInput [matDatepicker]="miDatepicker" [(ngModel)]="pedido.adquiridoEn" name="adquiridoEn">
            <mat-datepicker-toggle matIconSuffix [for]="miDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #miDatepicker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr></table>
      <mat-form-field>
        <mat-label>Observación</mat-label>
         <textarea matInput #message name="observacion" maxlength="256" [(ngModel)]="pedido.observacion"></textarea>

         <mat-hint align="start"><strong>Datos para entregar el pedido...</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>

    </mat-card-content>

  </form>
</mat-card>




