<div class="container">
  @if (!pedidoTiendaForm.form.valid) {
  <div class="row mt-2 col-12 alert alert-dark">
    <p>Completar los datos requeridos para <b>FINALIZAR PEDIDO</b></p>
  </div>
  }
  <form #pedidoTiendaForm="ngForm" (ngSubmit)="crearPedidoTienda(pedidoTiendaForm)">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <label for="nomApellRz" class="form-label col-12 col-md-4">Cliente</label>
          <div class="col-12 col-md">
            <input type="text" [(ngModel)]="cliente.nomApellRz" class="form-control" name="nomApellRz"
              #nomApellRz="ngModel" required minlength="2">
            <div *ngIf="formUtils.isValidFieldFp(nomApellRz)" class="alert alert-danger">
              {{formUtils.getFieldErrorFp(nomApellRz)}}
            </div>
          </div>
        </div>
        <div class="row">
          <label for="direccionPrincipal" class="col-form-label col-12 col-md-4">Dirección:</label>
          <div class="col-12 col-md">
            <input type="text" [(ngModel)]="cliente.direccion" class="form-control" name="direccionPrincipal"
              #direccionPrincipal="ngModel" required minlength="4">
            <div *ngIf="formUtils.isValidFieldFp(direccionPrincipal)" class="alert alert-danger">
              {{formUtils.getFieldErrorFp(direccionPrincipal)}}
            </div>
          </div>
        </div>
        <div class="row">
          <label for="tipoDocumento" class="form-label col-12 col-md-4">Tipo de documento:</label>
          <div class="col-12 col-md">
            <select name="tipoDocumento" [(ngModel)]="cliente.tipoDocumento" class="form-control" name="tipoDocumento"
              #tipoDocumento="ngModel" required>
              <option *ngFor="let documento of tipoDocumentos" [value]="documento">
                {{documento.nombre}}</option>
            </select>
            <div *ngIf="formUtils.isValidFieldFp(tipoDocumento)" class="alert alert-danger">
              {{formUtils.getFieldErrorFp(tipoDocumento)}}
            </div>
          </div>
        </div>
        <div class="row">
          <label for="numeroDocumento" class="form-label col-12 col-md-4">Número documento:</label>
          <div class="col-12 col-md">
            <input type="text" [(ngModel)]="cliente.numeroDocumento" class="form-control" name="numeroDocumento"
              #numeroDocumento="ngModel" required minlength="8" maxlength="11" pattern="^\d+$">
            <div *ngIf="formUtils.isValidFieldFp(numeroDocumento)" class="alert alert-danger">
              {{formUtils.getFieldErrorFp(numeroDocumento)}}
            </div>
          </div>
        </div>
        <div class="row">
          <label for="celular" class="form-label col-12 col-md-4">Celular:</label>
          <div class="col-12 col-md">
            <input type="text" [(ngModel)]="cliente.celular" class="form-control" name="celular" #celular="ngModel"
              required minlength="6" maxlength="14" pattern="^\d+$">
            <div *ngIf="formUtils.isValidFieldFp(celular)" class="alert alert-danger">
              {{formUtils.getFieldErrorFp(celular)}}
            </div>
          </div>
        </div>
        <div class="row">
          <label for="email" class="form-label col-12 col-md-4">Correo electrónico:</label>
          <div class="col-12 col-md">
            <input type="email" [(ngModel)]="cliente.email" class="form-control" name="email" placeholder="xxx@xxx.xx"
              #email="ngModel" required minlength="6" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
            <div *ngIf="formUtils.isValidFieldFp(email)" class="alert alert-danger">
              {{formUtils.getFieldErrorFp(email)}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row mb-2">
          <label for="addEnvio" class="form-label col-8"><b>¿Adicionar servicio de envio a mi pedido?:</b>
          </label>
          <div class="col-4">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="envio" id="addEnvio"
                (click)="addItemsServicioEnvio($event, SERVICIO_ENTREGA_LOCAL)">
              <label class="form-check-label" for="addEnvio">Sí</label>
            </div>
          </div>
        </div>
        @if(isEnvio){
        <div class="row mb-2">
          <div class="col-6">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="envio" [(ngModel)]="formaEnvio" id="envioLocal"
                [value]="SERVICIO_ENTREGA_LOCAL" (click)="addItemsServicioEnvio($event, SERVICIO_ENTREGA_LOCAL)"
                checked>
              <label class="form-check-label" for="envioLocal">Envío local</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="envio" [(ngModel)]="formaEnvio" id="envioNacional"
                [value]="SERVICIO_ENTREGA_CIUDAD" (click)="addItemsServicioEnvio($event,SERVICIO_ENTREGA_CIUDAD)">
              <label class="form-check-label" for="envioNacional">Envío a otra ciudad</label>
            </div>
          </div>
        </div>
        <div class="row">
          <label for="nomApellRzEnvio" class="col-form-label col-12 col-md-4">Cliente envio</label>
          <div class="col-12 col-md">
            <input type="text" [(ngModel)]="pedido.nomApellRzEnvio" class="form-control" name="nomApellRzEnvio"
              #nomApellRzEnvio="ngModel" minlength="2">
            <div *ngIf="formUtils.isValidFieldFp(nomApellRzEnvio)" class="alert alert-danger">
              {{formUtils.getFieldErrorFp(nomApellRzEnvio)}}
            </div>
          </div>
        </div>
        <div class="row">
          <label for="direccionEnvio" class="col-form-label col-12 col-md-4">Dirección envío:</label>
          <div class="col-12 col-md">
            <textarea [(ngModel)]="pedido.direccionEnvio" class="form-control" name="direccionEnvio"
              #direccionEnvio="ngModel" minlength="2" maxlength="250" rows="3"
              placeholder="Colocar tambien referencias..."></textarea>

            <div *ngIf="formUtils.isValidFieldFp(direccionEnvio)" class="alert alert-danger">
              {{formUtils.getFieldErrorFp(direccionEnvio)}}
            </div>
          </div>
        </div>
        <div class="row">
          <label for="celularEnvio" class="col-form-label col-12 col-md-4">Celular envio:</label>
          <div class="col-12 col-md">
            <input type="text" [(ngModel)]="pedido.celularEnvio" class="form-control" name="celularEnvio"
              #celularEnvio="ngModel" minlength="6" maxlength="14" pattern="^\d+$">
            <div *ngIf="formUtils.isValidFieldFp(celularEnvio)" class="alert alert-danger">
              {{formUtils.getFieldErrorFp(celularEnvio)}}
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="tabla-desktop table table-striped table-hover table-sm" cellspacing="1" cellpadding="1">
          <thead>
            <tr>
              <th>Eliminar</th>
              <th>Imagen</th>
              <th>Producto</th>
              <th>Descripcion</th>
              <th>Cantidad</th>
              <th>S/.Precio</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>
                <p-button severity="danger" icon="pi pi-trash" (click)="eliminarItemPedido(item.producto.id)" />
              </td>
              <td>
                <img [src]="item.imagenUri" width="86" alt={{item.imagen}} />
              </td>
              <td>
                <b>{{item.producto.nombre}}</b>
                @if(item.producto.codigo != SERVICIO_ENTREGA_LOCAL &&
                item.producto.codigo != SERVICIO_ENTREGA_CIUDAD &&
                item.producto.codigo != SERVICIO_DISENIO &&
                item.producto.codigo != SERVICIO_SUBLIMACION){
                <ul>
                  <li><b>Medidas: </b>{{item.producto.medidas}}
                    <b>Color: </b>{{item.producto.color?.nombre}}
                  </li>
                  <li><b>Material: </b>{{item.producto.material?.nombre}}
                    <b>Peso: </b>{{item.producto.peso}}
                  </li>
                </ul>
                }
              </td>
              <td> <textarea name="descripcion" class="form-control" [ngStyle]="{'resize': 'none'}" maxlength="250"
                  [value]="item.descripcion" rows="3"
                  (change)="actualizarDescripcion(item.producto.id, $event)"></textarea></td>
              <td>
                <input style="width:80px" type="number" name="cantidad" aria-describedby="cantidad"
                  [step]="item.producto.gruposDe.toString()" [min]="item.producto.minCantidadPedido.toString()"
                  [max]="item.producto.maxCantidadPedido.toString()" [value]="item.cantidad"
                  (input)="actualizarCantidad(item.producto.id, $event);calcularTotal() " />
              </td>
              <td>{{item.producto.precioNetoNumberShow| currency:'PEN'}}</td>

              <td>
                <input style="width:90px" type="number" name="importe" min="1" [value]="item.importe"
                  (input)="actualizarImporte(item.producto.id, $event); calcularTotal()" />
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
                <div class="col-12 col-md">
                  <textarea [(ngModel)]="pedido.observacion" class="form-control" name="observacion"
                    #observacion="ngModel" minlength="2" maxlength="250" rows="2"
                    placeholder="Coloca aquí datos adicionales al pedido..."></textarea>
                  <div *ngIf="formUtils.isValidFieldFp(observacion)" class="alert alert-danger">
                    {{formUtils.getFieldErrorFp(observacion)}}
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2"><b>Entregar El:</b></td>
              <td colspan="2">
                <input type="datetime-local" [(ngModel)]="pedido.entregadoEn" class="form-control"
                  #entregadoEn="ngModel" name="entregadoEn" required>
                <div *ngIf="formUtils.isValidFieldFp(entregadoEn)" class="alert alert-danger">
                  {{formUtils.getFieldErrorFp(entregadoEn)}}
                </div>
              </td>
              <td colspan="1" class="text-end fw-bold">TOTAL</td>
              <td colspan="2" class="text-center fw-bold">{{total | currency:'PEN'}}</td>
            </tr>

          </tfoot>
        </table>
      </div>
    </div>
    <div class="row mb-2">
      @if(items.length > 0 && authService.hasRole('ROLE_CREATE_VENTA')){
      <button type="submit" class="btn btn-dark btn-lg" [disabled]="!pedidoTiendaForm.form.valid">Finalizar
        pedido</button>

      } @else {
      <button type="submit" class="btn btn-dark btn-lg" disabled>Finalizar pedido</button>
      }
    </div>
  </form>
</div>
