<div class="navbar d-flex flex-wrap justify-content-center justify-content-sm-end">

    <a [routerLink]="['/pedidos/contactanos']"><i class="bi bi-people-fill"></i>Nosotros</a>


    <a [routerLink]="['/pedidos/contactanos']"><i class="bi bi-phone-vibrate-fill"></i>Contactanos</a>

    @if (!isAutenticado()) {
    <a [routerLink]="['/login']"><i class="bi bi-person-fill"></i>Iniciar sesión</a>
    }
    @if (!isAutenticado()) {
    <button type="button" [routerLink]="['/crear-cuenta']" class="btn btn-warning">Crear
        cuenta</button>
    }
    @if (isAutenticado()) {
    <button mat-fab extended (click)="sideNavToggle()"><mat-icon>menu</mat-icon>MENU</button>
    }

</div>