<!-- <button type="button" class="btn btn-link"><i class="bi bi-people-fill"></i>
    Nosotros</button> -->
<button type="button" class="btn btn-link"><i class="bi bi-phone-vibrate-fill"></i>
    Contactanos</button>
@if (!isAutenticado()) {
<button type="button" [routerLink]="['/login']" class="btn btn-link"><i class="bi bi-person-fill"></i>
    Iniciar sesión</button>
<button type="button" [routerLink]="['/crear-cuenta']" class="btn btn-primary">Crear cuenta</button>
} @else {
<!--          <button (click)="sideNavToggle()"><mat-icon>menu</mat-icon></button>
 --> 
<button mat-fab extended (click)="sideNavToggle()"><mat-icon>menu</mat-icon>MENU</button>

}