/* .mat-mdc-form-field  {
  font-size: 14px;
  width: 100%;
}

.celda-estado {
  padding: 0.2rem 0.5rem ;
  border-radius: 0.8rem ;
  color: #fff;
  text-align: center;
  display: block;
  max-width: 120px;
  margin: 0 auto;
}

.registrado{
  background-color:#1086b1;
}

.devuelto{
  background-color:#EC624B;
}
.vencido{
  background-color:rgb(233, 66, 109);
}
.entregado{
  background-color:rgb(91, 197, 0);
}

 */
