
<mat-card>
  <mat-card-header class="d-flex justify-content-start">
      <mat-card-title>{{title}}</mat-card-title>
<!--       <div class="ms-auto">
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" color="primary" mat-raised-button [routerLink]="['form']">
            Crear Cliente
          </button>
      </div> -->
  </mat-card-header>

   <mat-card-content>

    <div *ngIf="pedidos?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>

    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ejem. juan" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
     <table mat-table [dataSource]="dataSource" matSort >

<!--       <ng-container matColumnDef="foto">
        <th mat-header-cell *matHeaderCellDef> Foto </th>
        <td mat-cell *matCellDef="let element">
          <img (click)="abrirModal(element)" *ngIf="element?.foto"
            src="http://localhost:8080/api/uploads/img/{{element.foto}}" alt="{{element.foto}}" class="img-thumbnail rounded"
            style="width:64px; cursor: pointer;">

          <img (click)="abrirModal(element)" *ngIf="!element?.foto"
            src="http://localhost:8080/images/no-usuario.png" alt="Sin foto" class="img-thumbnail rounded"
            style="width:64px; cursor: pointer;">
        </td>
      </ng-container> -->

       <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.apellidos}} {{element.cliente.nombres}}</td>
      </ng-container>


      <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.tipoDocumento.acronimo}}: {{element.cliente.numeroDocumento}} </td>
      </ng-container>

      <ng-container matColumnDef="createAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creacion </th>
        <td mat-cell *matCellDef="let element"> {{element.createAt}} </td>
      </ng-container>

      <ng-container matColumnDef="entregadoEn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Entrega </th>
        <td mat-cell *matCellDef="let element"> {{element.entregadoEn}} </td>
      </ng-container>

      <ng-container matColumnDef="observacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observacion </th>
        <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
      </ng-container>

      <ng-container matColumnDef="saldoPedido">
        <th mat-header-cell *matHeaderCellDef> Saldo </th>
        <td mat-cell *matCellDef="let element"> {{element.saldoPedido}} </td>
      </ng-container>

<!--       <ng-container matColumnDef="pago">
        <th mat-header-cell *matHeaderCellDef> Pago </th>
        <td mat-cell *matCellDef="let element"> {{element.pago}} </td>
      </ng-container> -->

<!--       <ng-container matColumnDef="saldo">
        <th mat-header-cell *matHeaderCellDef> Saldo </th>
        <td mat-cell *matCellDef="let element"> {{element.saldo}} </td>
      </ng-container> -->

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element">
          <span class="celda-estado {{element.estadoPedido.color}}">{{element.estadoPedido.estado}} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">SEMÁFORO</th>
        <td mat-cell *matCellDef="let row" style="text-align: center;">
          <span class="celda-estado {{row.color}}">{{ row.nombre }} </span>
        </td>
      </ng-container>


      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex flex-row">
            <button mat-icon-button color="warn" (click)="setPedido(element)" matTooltip="Pagar">
              <mat-icon>price_change</mat-icon>
            </button>
            <button mat-icon-button color="primary" *ngIf="authService.hasRole('ROLE_ADMIN')" [routerLink]="['/pr/pedidos', element.id]" matTooltip="Ver Detalle">
              <mat-icon>visibility</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
   <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  </div>
  </mat-card-content>
  </mat-card>
