<div class="container">
    <h2>Medios de pago</h2>
    <p>Despues del pago comunicate con nuestro asesor de ventas adjunto tu voucher</p>
    <p>Monto a pagar: {{pedido.precioNetoTotal}}</p>
    <div class="row">
        <div class="col-6">
            <img src="banco-interbank-peru.png" alt="Medios interbank" class="img-fluid">
        </div>
        <div class="col-6">
            <h3>Número de cuenta</h3><br>
            <b>8213291002047</b>

            <h3>Número de cuenta Interbancaria</h3><br>
            <b>003-820-013221002047-61</b>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="banco-credito-peru.png" alt="Banco de crédito" class="img-fluid">
        </div>
        <div class="col-6">
            <h3>Número de cuenta</h3><br>
            <b>8213291002047</b>

            <h3>Número de cuenta Interbancaria</h3><br>
            <b>003-729-013293002047-72</b>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="banco-continental-peru.png" alt="Medios de pago" class="img-fluid">
        </div>
        <div class="col-6">
            <h3>Número de cuenta</h3><br>
            <b>8213291002047</b>

            <h3>Número de cuenta Interbancaria</h3><br>
            <b>003-821-013291002047-69</b>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <img src="yape-peru.png" alt="Medios de pago" class="img-fluid">
        </div>
        <div class="col-6">
            <h3>Número de Celular</h3><br>
            <b>974798814</b>F

        </div>
    </div>
</div>>