<div class="container py-5">
  <div class="row">
    <div class="col-lg-6">
      <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">La empresa</h6>
      <h1 class="section-title text-white mb-5">La empresa</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 d-flex align-items-center mb-3 text-white">
      <img class="img-fluid" src="stheven.jpg" alt="">
      <div class="ml-3">
        <h5 class="text-primary">Visión</h5>
        <i>Director</i>
      </div>
    </div>
    <div class="col-lg-9 d-flex align-items-center text-white">
      <p>
        Tempor at diam tempor sed. Sanctus dolor ipsum ut nonumy amet clita sea. Sed eos sed dolores vero no.
        Ipsum elitr elitr stet dolor lorem erat. Diam no amet sea justo vero ut. Dolor ipsum kasd ipsum dolore.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 d-flex align-items-center mb-3 text-white">
      <img class="img-fluid" src="bhernard.jpg" alt="">
      <div class="ml-3">
        <h5 class="text-primary">Misión</h5>
        <i>Director</i>
      </div>
    </div>
    <div class="col-lg-9 d-flex align-items-center text-white">
      <p>
        Tempor at diam tempor sed. Sanctus dolor ipsum ut nonumy amet clita sea. Sed eos sed dolores vero no.
        Ipsum elitr elitr stet dolor lorem erat. Diam no amet sea justo vero ut. Dolor ipsum kasd ipsum dolore.
      </p>
    </div>
  </div>
</div>
