<div *ngIf="!isAuthenticated()" class="row mt-2">
    <div class="col-12 alert alert-success">
        Para terminar de <b>Realizar el pedido</b> debe
        <a [routerLink]="['/login']">INICIAR SESIÓN.</a>
    </div>
</div>
<div class="row mt-2">
    @if (producto != undefined && producto.id) {
    <div class="col-12 col-md-9">
        <customize-item-producto-to-client [productoId]="producto.id" />
    </div>
    <div class="col-12 col-md-3">
        <h2>Carrito</h2>
        <carrito-item-producto [clienteId]=0/>
    </div>
    }
</div>