  <div class="container py-5">
    <div class="row align-items-end">
      <div class="col-lg-6">
        <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Merchandising, branding, publicidad</h6>
        <h1 class="section-title mb-3">Productos</h1>
      </div>
      <div class="col-lg-6">
        <h4 class="font-weight-normal text-muted mb-3">Eirmod kasd duo eos et magna, diam dolore stet sea clita sit ea
          erat lorem. Ipsum eos ipsum magna lorem stet</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <carrusel-productos></carrusel-productos>
      </div>
    </div>
  </div>
