
<mat-sidenav-container fullscreen>
  <mat-sidenav class="main-sidenav" #sidenavLeft mode="side" opened="false">
    <mat-toolbar>
      <div class="d-flex justify-content-end" [ngStyle]="{'width' : '100%'}">
      <div class="me-auto" [ngStyle]="{'padding-left' : '0px','padding-top' : '8px' , 'font-size': '18px', 'font-weight': 'bold'}">EZRA</div>
      <div>
          <button mat-icon-button (click)="sideNavToggle(sidenavLeft, false)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <mat-nav-list>
        <div mat-subheader><mat-icon>home</mat-icon>INICIO</div>
        <ng-container>
          <a mat-list-item [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            Inicio</a>
        </ng-container>
        <mat-divider></mat-divider>
        <div mat-subheader><mat-icon >diversity_3</mat-icon>
          CLIENTES</div>
        <ng-container>
          <a mat-list-item [routerLink]="['/pr/clientes']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            Listado de clientes</a>
        </ng-container>
        <ng-container>
          <a mat-list-item [routerLink]="['/pr/clientes/form']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            Registro de clientes</a>
        </ng-container>
        <mat-divider></mat-divider>
        <div mat-subheader><mat-icon >insert_chart</mat-icon>
          PEDIDOS</div>
        <ng-container>
          <a mat-list-item [routerLink]="['/pr/pedidos']" [routerLinkActive]="['active']">
            Listado de pedidos</a>
        </ng-container>
        <mat-divider></mat-divider>
        <div mat-subheader><mat-icon >assignment_ind</mat-icon>
          CAJA</div>
        <ng-container>
          <a mat-list-item [routerLink]="['/pr/cajas']" [routerLinkActive]="['active']">
            Apertura/Cierre</a>
        </ng-container>
        <mat-divider></mat-divider>
        <div mat-subheader><mat-icon >currency_exchange</mat-icon>
          MOVIMIENTOS CAJA</div>
        <ng-container>
          <a mat-list-item [routerLink]="['/pr/movimientos/caja']" [routerLinkActive]="['active']">
            Ingreso/Egreso</a>
        </ng-container>
        <mat-divider></mat-divider>
        <div mat-subheader><mat-icon >list_alt_check</mat-icon>
          PRODUCTOS</div>
        <ng-container>
          <a mat-list-item [routerLink]="['/pr/productos']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            Listado de productos</a>
        </ng-container>
        <ng-container>
          <a mat-list-item [routerLink]="['/pr/productos/form-producto']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            Registro de productos</a>
        </ng-container>
        <mat-divider></mat-divider>
<!--         <div mat-subheader><mat-icon >list_alt_check</mat-icon>
          REPORTES</div>
        <ng-container>
          <a mat-list-item [routerLink]="['/pr/productos']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            Listado de productos</a>
        </ng-container>
        <ng-container>
          <a mat-list-item [routerLink]="['/pr/productos/form-producto']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            Registro de productos</a>
        </ng-container>
        <ng-container>
          <a mat-list-item [routerLink]="['/pr/productos']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            Listado de productos</a>
        </ng-container>
        <ng-container>
          <a mat-list-item [routerLink]="['/pr/productos/form-producto']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            Registro de productos</a>
        </ng-container> -->

    </mat-nav-list>

      <!--menus en forma de iconos-->
      <!--       <mat-nav-list>
        <mat-list-item>
        <a [routerLink]="['']" [routerLinkActive]="['active']" matListItemTitle >
          <mat-icon>home</mat-icon>
        <div matListItemLine>Inicio</div></a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/pr/clientes']" [routerLinkActive]="['active']" matListItemTitle >
            <mat-icon>diversity_3</mat-icon>
          <div matListItemLine>Clientes</div></a>
        </mat-list-item>
        <mat-list-item >
          <a [routerLink]="['/pr/pedidos']" [routerLinkActive]="['active']" matListItemTitle >
            <mat-icon>insert_chart</mat-icon>
          <div matListItemLine>Pedidos</div></a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/pr/cajas']" [routerLinkActive]="['active']" matListItemTitle >
            <mat-icon>assignment_ind</mat-icon>
          <div matListItemLine>AC Caja</div></a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/pr/movimientos/caja']" [routerLinkActive]="['active']" matListItemTitle >
            <mat-icon>currency_exchange</mat-icon>
          <div matListItemLine>Movimiento</div></a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/pr/productos']" [routerLinkActive]="['active']" matListItemTitle >
            <mat-icon>list_alt_check</mat-icon>
          <div matListItemLine>Productos</div></a>
        </mat-list-item>
      </mat-nav-list> -->

  </mat-sidenav>
  <mat-sidenav-content>
      <app-header (clickMenuEvent)="sideNavToggle(sidenavLeft, true)"></app-header>
   <div class="container">
             <router-outlet></router-outlet>
   </div>
   </mat-sidenav-content>
</mat-sidenav-container>


