@if(pedido.id){
<div class="alert alert-dark">
  Pedido finalizado! Con código {{pedido.id}}, por un monto de <span class="fw-bold"
    style="font-size: 30px; font-weight: bolder;"> {{pedido.precioNetoTotal| currency:'PEN'}} </span> contiene
  {{pedido.items.length}} producto(s). Realiza el pago parcial o total y envia el voucher a un asesor de ventas.
  <button type="button" class="btn btn-link" (click)="enviarPedidoChat()">CLICK AQUI</button>
</div>}
<section class="mapa">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227.06843193584825!2d-71.53235245153547!3d-16.4015490569194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424b5b20ecbc13%3A0x6ce1d74b9aa4784!2sGrafiya!5e1!3m2!1ses-419!2spe!4v1754712746148!5m2!1ses-419!2spe"
    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-6 col-md-3">
        <img src="atencion-cliente-numero.png" alt="Banco de crédito" class="img-fluid img-thumbnail">
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <p class="text-start">Atención:
          <b>Lunes a Sabado</b>
        </p>
        <p class="text-start">Horario:
          <b>9:00 hrs hasta 20:00 hrs</b>
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <img src="whatsapp-numero.png" alt="Banco de crédito" class="img-fluid img-thumbnail">
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <p class="text-start">Whatssap:
          <b>Lunes a Domingo</b>
        </p>

        <p class="text-start">Horario:
          <b>24:00 hrs</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <img src="banco-interbank-peru.png" alt="Medios interbank" class="img-fluid img-thumbnail">
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <p class="text-start">CTA:
          <b>8213291002047</b>
        </p>

        <p class="text-start">CCI:
          <b>003-820-013221002047-61</b>
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <img src="banco-credito-peru.png" alt="Banco de crédito" class="img-fluid img-thumbnail">
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <p class="text-start">CTA:
          <b>8213291002047</b>
        </p>

        <p class="text-start">CCI:
          <b>003-729-013293002047-72</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <img src="banco-continental-peru.png" alt="Medios de pago" class="img-fluid img-thumbnail">
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <p class="text-start">CTA:
          <b>8213291002047</b>
        </p>
        <p class="text-start">CCI:
          <b>003-821-013291002047-69</b>
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <img src="yape-peru.png" alt="Medios de pago" class="img-fluid img-thumbnail">
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <p class="text-start">Número de Celular<br>
          <b>974798814</b>
        </p>
      </div>

    </div>
  </div>
</div>




<!-- Back to Top -->
<!-- <a href="#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a> -->
