<div *ngIf="pedido.id" class="row mt-2">
    <div class="col-12 alert alert-success">
        Pedido finalizado! Con código {{pedido.id}}, por un monto de <span class="fw-bold"
            style="font-size: 30px; font-weight: bolder;"> {{pedido.precioNetoTotal| currency:'PEN'}} </span> contiene
        {{pedido.items.length}} producto(s). Realiza el pago parcial o total y envia el voucher a un asesor de ventas.
        <button type="button" class="btn btn-link" (click)="enviarPedidoChat()">CLICK AQUI</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12 col-md-6">
        <div class="row mb-4">
            <div class="col-12 col-md-6">
                <img src="atencion-cliente-numero.png" alt="Banco de crédito" class="img-fluid img-thumbnail">
            </div>
            <div class="col-12 col-md-6">
                <p class="text-start">Días de atención por número<br>
                    <b>Lunes a Sabado</b>
                </p>

                <p class="text-start">Horario<br>
                    <b>9:00 hrs hasta 20:00 hrs</b>
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-md-6">
                <img src="whatsapp-numero.png" alt="Banco de crédito" class="img-fluid img-thumbnail">
            </div>
            <div class="col-12 col-md-6">
                <p class="text-start">Días de atención por Whatssap<br>
                    <b>Lunes a Domingo</b>
                </p>

                <p class="text-start">Horario<br>
                    <b>24:00 hrs</b>
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-md-6">
                <img src="banco-interbank-peru.png" alt="Medios interbank" class="img-fluid img-thumbnail">
            </div>
            <div class="col-12 col-md-6">
                <p class="text-start">Número de cuenta<br>
                    <b>8213291002047</b>
                </p>

                <p class="text-start">Número de cuenta Interbancaria<br>
                    <b>003-820-013221002047-61</b>
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-md-6">
                <img src="banco-credito-peru.png" alt="Banco de crédito" class="img-fluid img-thumbnail">
            </div>
            <div class="col-12 col-md-6">
                <p class="text-start">Número de cuenta<br>
                    <b>8213291002047</b>
                </p>

                <p class="text-start">Número de cuenta Interbancaria<br>
                    <b>003-729-013293002047-72</b>
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-md-6">
                <img src="banco-continental-peru.png" alt="Medios de pago" class="img-fluid img-thumbnail">
            </div>
            <div class="col-6">
                <p class="text-start">Número de cuenta<br>
                    <b>8213291002047</b>
                </p>

                <p class="text-start">Número de cuenta Interbancaria<br>
                    <b>003-821-013291002047-69</b>
                </p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 col-md-6">
                <img src="yape-peru.png" alt="Medios de pago" class="img-fluid img-thumbnail">
            </div>
            <div class="col-12 col-md-6">
                <p class="text-start">Número de Celular<br>
                    <b>974798814</b>
                </p>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row mb-4">
            <div class="col-12 alert alert-primary">
                <p><b>Direccion Principal:</b> Urb. Santa Catalina Q-17 - Jose luis Bustamante y Rivero Arequipa</p>

                <p><b>Sucursal:</b> Calle pizaro 214 f - Cercado - Arequipa</p>


            </div>

        </div>
        <!-- AQUI VA IR LA INTEGRACION CON GOOGLE MAPS-->
    </div>
</div>
<!--  <a (click)="chatear()" class="whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>  -->
