<!-- <ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul> -->

<mat-card class="card">
  <form [formGroup]="formProducto">

    <mat-card-header class="card-header">
      <mat-card-title>{{ titulo }}</mat-card-title>
      <div class="ms-auto">
        <button *ngIf="!producto.id && authService.hasRole('ROLE_REGISTER_PRODUCTO') else elseBlock" color="primary"
          mat-raised-button (click)='crearProducto()' [disabled]="!formProducto.valid">Crear producto</button>
        <ng-template #elseBlock>
          <button *ngIf="authService.hasRole('ROLE_UPDATE_PRODUCTO') " color="primary" mat-raised-button
            (click)='update()' [disabled]="!formProducto.valid">Actualizar producto</button>
        </ng-template>
        <button color="primary" mat-raised-button [routerLink]="'/productos'">Cancelar</button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="row mb-2">
              <label for="nombre" class="col-form-label col-sm-4">Nombre:</label>
              <div class="input-group col-sm">
                <input formControlName="nombre" type="text" class="form-control" name="nombre" placeholder="Nombre">
              </div>
            </div>
            <div class="row mb-2">
              <label for="codigo" class="col-form-label col-sm-4">Código:</label>
              <div class="input-group col-sm">
                <input formControlName="codigo" type="text" class="form-control" name="codigo" placeholder="codigo">
              </div>
            </div>
            <div class="row mb-2">
              <label for="descripcion" class="col-form-label col-sm-4"><b>Descripción:</b> <br>(visible en
                tienda):</label>
              <div class="input-group col-sm">
                <textarea formControlName="descripcion" name="descripcion" class="form-control"
                  [ngStyle]="{'resize': 'none'}" aria-label="With textarea" placeholder="Descripción" maxlength="250"
                  rows="5"></textarea>

              </div>
            </div>
            <div class="row mb-2">
              <label for="medidas" class="col-form-label col-sm-4"><b>Medidas o dimensiones:</b><br>Longitiud x Anchura
                x Altura<br> en CM
                ó MT</label>
              <div class="input-group col-sm">
                <input formControlName="medidas" type="text" class="form-control" name="medidas"
                  placeholder="Ej: 47x45x3 cm     /     32.50x20.5x3 cm">
              </div>
            </div>
            <div class="row mb-2">
              <label for="peso" class="col-form-label col-sm-4">Peso (kg:kilogramos):</label>
              <div class="input-group col-sm">
                <input formControlName="peso" type="text" class="form-control" name="peso"
                  placeholder="Ej: 0.24 kg   /   1 kg   /   1.50 kg" minlength="4">
              </div>
            </div>

            <div class="row mb-2">
              <label for="unbralPocaCantidad" class="col-form-label col-sm-4">Umbral de poca cantidad:</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="unbralPocaCantidad" name="unbralPocaCantidad" class="form-control"
                  placeholder="Umbral de poca cantidad" min="1">
                <span class="input-group-text">Número</span>
              </div>
            </div>

            <div class="row mb-2">
              <label for="unbralAgotadaCantidad" class="col-form-label col-sm-4">Umbral de cantidad agotada:</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="unbralAgotadaCantidad" name="unbralAgotadaCantidad"
                  class="form-control" placeholder="Umbral de cantidad agotada" min="0">
                <span class="input-group-text">Número</span>
              </div>
            </div>

            <div class="row mb-2">
              <label for="cantidadStock" class="col-form-label col-sm-4">Cantidad en stock:</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="cantidadStock" name="cantidadStock" class="form-control"
                  placeholder="Cantidad en stock" min="0">
                <span class="input-group-text">Número</span>
              </div>
            </div>
            <div class="row mb-2">
              <label for="minCantidadPedido" class="col-form-label col-sm-4">Mínima cantidad en pedido:</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="minCantidadPedido" name="minCantidadPedido" class="form-control"
                  placeholder="Mínima cantidad en pedido" min="1">
                <span class="input-group-text">Número</span>
              </div>
            </div>

            <div class="row mb-2">
              <label for="maxCantidadPedido" class="col-form-label col-sm-4">Máxima cantidad en pedido:</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="maxCantidadPedido" name="maxCantidadPedido" class="form-control"
                  placeholder="Máxima cantidad en pedido" min="1">
                <span class="input-group-text">Número</span>
              </div>
            </div>
            <div class="row mb-2">
              <label for="gruposDe" class="col-form-label col-sm-4">Grupos De:</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="gruposDe" name="gruposDe" class="form-control"
                  placeholder="Grupos De" min="1">
                <span class="input-group-text">Número</span>
              </div>
            </div>

            <div class="row mb-2">
              <label for="costoUnitario" class="col-form-label col-sm-4">Costo unitario:</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="costoUnitario" name="costoUnitario" class="form-control"
                  placeholder="Costo unitario" min="1">
                <span class="input-group-text">S/</span>
                <span class="input-group-text">0.00</span>
              </div>
            </div>
            <div class="row mb-2">
              <label for="costoUnitarioEmpaque" class="col-form-label col-sm-4">Costo unitario de Empaque:</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="costoUnitarioEmpaque" name="costoUnitarioEmpaque"
                  class="form-control" placeholder="Costo unitario de Empaque" min="0">
                <span class="input-group-text">S/</span>
                <span class="input-group-text">0.00</span>
              </div>
            </div>
            <div class="row mb-2">
              <label for="precioBruto" class="col-form-label col-sm-4">Precio bruto (-IGV):</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="precioBruto" name="precioBruto" class="form-control"
                  placeholder="Precio bruto (sin IGV)" min="3">
                <span class="input-group-text">S/</span>
                <span class="input-group-text">0.00</span>
              </div>
            </div>
            <div class="row mb-2">
              <label for="precioNeto" class="col-form-label col-sm-4">Precio neto (+ IGV):</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="precioNeto" name="precioNeto" class="form-control"
                  placeholder="Precio neto (con IGV)" min="4">
                <span class="input-group-text">S/</span>
                <span class="input-group-text">0.00</span>
              </div>
            </div>
            <div class="row mb-2">
              <label for="precioBrutoRebajado" class="col-form-label col-sm-4">Precio bruto rebajado(-IGV):</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="precioBrutoRebajado" name="precioBrutoRebajado"
                  class="form-control" placeholder="Precio bruto rebajado (sin IGV)" min="2">
                <span class="input-group-text">S/</span>
                <span class="input-group-text">0.00</span>
              </div>
            </div>
            <div class="row mb-2">
              <label for="precioNetoRabajado" class="col-form-label col-sm-4">Precio neto rebajado(+IGV):</label>
              <div class="input-group col-sm">
                <input type="number" formControlName="precioNetoRabajado" name="precioNetoRabajado" class="form-control"
                  placeholder="Precio neto rebajado (con IGV)" min="3">
                <span class="input-group-text">S/</span>
                <span class="input-group-text">0.00</span>
              </div>
            </div>

            <div class="row mb-2">
              <label for="fechaPrecioRebajadoDesde" class="col-form-label col-sm-4">Fch precio rebajado desde:</label>
              <div class="input-group col-sm">
                <input type="datetime-local" formControlName="fechaPrecioRebajadoDesde" name="fechaPrecioRebajadoDesde"
                  class="form-control" placeholder="Fecha precio rebajado desde: ">
              </div>
            </div>
            <div class="row mb-2">
              <label for="fechaPrecioRebajadoHasta" class="col-form-label col-sm-4">Fch precio rebajado hasta:</label>
              <div class="input-group col-sm">
                <input type="datetime-local" formControlName="fechaPrecioRebajadoHasta" name="fechaPrecioRebajadoHasta"
                  class="form-control" placeholder="Fecha precio rebajado hasta: ">
              </div>
            </div>
          </div>


          <div class="col-sm">
            <div class="row mb-2">
              <label for="categoriaId" class="form-label col-sm-4">Categoria del producto:</label>
              <div class="input-group col-sm">
                <select formControlName="categoriaId" name="categoriaId" class="form-control">
                  <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="row mb-2">
              <label for="materialId" class="form-label col-sm-4">Material del producto:</label>
              <div class="input-group col-sm">
                <select formControlName="materialId" name="materialId" class="form-control">
                  <option *ngFor="let material of materiales" [value]="material.id">{{material.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="row mb-2">
              <label for="colorId" class="form-label col-sm-4">Color del producto:</label>
              <div class="input-group col-sm">
                <select formControlName="colorId" name="colorId" class="form-control">
                  <option *ngFor="let color of colores" [value]="color.id">{{color.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="row mb-2">
              <label for="usoId" class="form-label col-sm-4">Uso del producto:</label>
              <div class="input-group col-sm">
                <select formControlName="usoId" name="usoId" class="form-control">
                  <option *ngFor="let uso of usos" [value]="uso.id">{{uso.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="row mb-2">
              <label for="formFile" class="form-label col-sm-4">Imágen del producto:</label>
              <div class="input-group col-sm">
                <input (change)="seleccionarImagen($event)" name="imagen" formControlName="imagen" class="form-control"
                  type="file" id="formFile">
              </div>
            </div>
            <div class="row mb-2">
              <label for="activo" class="form-label col-sm-4">Producto activo</label>
              <div class="form-check form-switch col-sm-2">
                <input class="form-check-input" type="checkbox" formControlName="activo" name="activo">
              </div>
              <label for="visibleEnTienda" class="form-label col-sm-4">Visible en tienda</label>
              <div class="form-check form-switch col-sm-2">
                <input class="form-check-input" type="checkbox" formControlName="visibleEnTienda"
                  name="visibleEnTienda">
              </div>
            </div>

            <div class="row mb-2">
              <div class="ol-sm-6">
                <span>Valid:</span>
                <pre>{{formProducto.valid | json}}</pre>
                <span>pristine:</span>
                <pre>{{formProducto.pristine| json}}</pre>
                <span>touched:</span>
                <pre>{{formProducto.touched| json}}</pre>
                <span>value:</span>
                <pre>{{formProducto.value| json}}</pre>
                <span>errores</span>
                <pre>{{formProducto.errors| json}}</pre>

                <!--                 <span>Valid</span>
                <pre>{{formProducto.valid | json}}</pre>
                <span>Valid</span>
                <pre>{{formProducto.valid | json}}</pre>
                <span>Valid</span>
                <pre>{{formProducto.valid | json}}</pre>
                <span>Valid</span>
                <pre>{{formProducto.valid | json}}</pre> -->

              </div>
            </div>



            <!--             <img *ngIf="producto.imagen" src="http://localhost:8080/api/producto/imagen/{{producto.imagen}}"
              alt="{{producto.descripcion}}" class="img-thumbnail rounded"> -->

          </div>
        </div>
      </div>
    </mat-card-content>
  </form>

</mat-card>
